
@{
    ViewBag.Title = "About Page";
}

<h2>About Page for Site</h2>

<p>
This site was created to make workout plans available to the masses!  No more creating accounts that you will forgot about minutes later.  You'll have access to all plans and will be able to share, save, and customize.
</p>
